* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* DEBUG CLASS */
.debug header {
    height: 70px;
    background-color: aqua;
}

.debug nav .logo {
    background-color: black;
}

.debug nav ul {
    height: 70px;
    background-color: palevioletred;
}

.debug nav button {
    background-color: papayawhip;
}
/* / DEBUG CLASS */

/* HEADER */
header {
    width: 100%;
    font-family: 'Urbanist', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

nav {
    width: 70%;
    margin: auto;
    position: relative;
    height: 70px;
}

nav .logo {
    vertical-align: middle;
    float: left;
    line-height: 70px;
}

nav ul {
    list-style-type: none;
    line-height: 70px;
    vertical-align: middle;
    width: 50%;
    text-align: center;
    margin: auto;
}

nav ul li {
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
}

nav button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    padding: 11px 21px;
    border-radius: 20px;
    border: none;
    background-color: white;
    vertical-align: middle;
}
/* / HEADER */

/* SEZIONE BANNER */
#banner{
    width: 100%;
    background-color: #255ee9;
    height: 600px;
    background-image: url("./img/jumbo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#banner .titolo {
    width: 50%;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#banner header .logo img {
    vertical-align: middle;
}

#banner p {
    font-family:'Urbanist', sans-serif;
    color: white;
    padding: 20px;
}

h1 {
    font-family: 'Changa One', cursive;
    font-size: 52px;
    color: white;
    font-weight: 100;
}

#banner .titolo .scarica {
    padding: 11px 21px;
    border-radius: 20px;
    border: none;
    background-color: white;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 600;
}

#banner .titolo .browser {
    background-color: #23272A;
    padding: 11px 21px;
    border-radius: 20px;
    border: none;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-left: 15px;
}
}
/* / SEZIONE BANNER */

/* SEZIONE INTRODUZIONE */
#introduzione {
    width: 100%;
}

#introduzione .container {
    width: 70%;
    margin: auto;
    padding-top: 60px;
}

#introduzione .container .img {
    float: left;
    width: 70%;
}

#introduzione .container .paragrafo {
    float: left;
    width: 30%;;
}

#introduzione .container .img img {
    width: 100%;
}

#introduzione .container .paragrafo h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 2rem;
}

#introduzione .container .paragrafo p {
    font-family: 'Urbanist', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
/* / SEZIONE INTRODUZIONE */

/* SEZIONE TROVARSIFACILE */
#trovarsiFacile {
    width: 100%;
    background-color: #F6F6F6;
    padding: 100px 0;
}

#trovarsiFacile .container {
    width: 70%;
    margin: auto;
    padding-top: 60px;
}

#trovarsiFacile .container .img {
    float: left;
    width: calc(70% - 101px);
    margin-left: 101px;
}

#trovarsiFacile .container .paragrafo {
    float: left;
    width: 30%;;
}

#trovarsiFacile .container .img img {
    width: 100%;
}

#trovarsiFacile .container .paragrafo h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 2rem;
}

#trovarsiFacile .container .paragrafo p {
    font-family: 'Urbanist', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
/* / SEZIONE TROVARSIFACILE */

/* SEZIONE FANDOM */
#fandom {
    width: 100%;
    background-color: white;
    padding: 100px 0;
}

#fandom .container {
    width: 70%;
    margin: auto;
    padding-top: 60px;
}

#fandom .container .img {
    float: left;
    width: calc(70% - 101px);
    margin-right: 101px;
}

#fandom .container .paragrafo {
    float: left;
    width: 30%;;
}

#fandom .container .img img {
    width: 100%;
}

#fandom .container .paragrafo h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 2rem;
}

#fandom .container .paragrafo p {
    font-family: 'Urbanist', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
/* / SEZIONE FANDOM */

/* SEZIONE DOWNLOAD */
#download {
    width: 100%;
    background-color: #F6F6F6;
    padding: 100px 0;
    text-align: center;
}

#download .container {
    width: 70%;
    margin: auto;
    padding-top: 60px;
}

#download .container .img {
    float: left;
    width: 100%;
}

#download .container .paragrafo {
    width: 90%;
    margin: auto;
    text-align: center;
}

#download .container .img img {
    width: 100%;
}

#download .container .paragrafo h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 2rem;
}

#download .container .paragrafo p {
    font-family: 'Urbanist', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

#download .scarica {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
}

#download .scarica p {
    background-image: url(./img/stars.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 37px;
    padding-top: 101px;
}

#download button a{
    text-decoration: none;
    color: white;
}

#download button{
    border: none;
    background-color: #8EA1E1;
    padding: 11px 21px;
    border-radius: 20px;
    font-size: 20px;
}
/* / SEZIONE DOWNLOAD */

/* SEZIONE FOOTER */
footer {
    width: 100%;
    background-color: #23272A;
    color: white;
    padding: 100px 0;
    font-family: 'Urbanist', sans-serif;
}

footer .containerFooter {
    width: 70%;
    margin: auto;
    border-bottom: 1px solid #7289DA;
    padding-bottom: 40px;
}

footer .contatti {
    float: left;
    width: calc(100%/5 - 4rem);
}

footer ul {
    float: left;
    list-style-type: none;
    width: calc(100%/5 - 4rem);
    margin-left: 4rem;
    font-family: 'Open Sans', sans-serif;
    color: #7289DA;
}

footer ul li {
    font-family: 'Urbanist', sans-serif;
    color: white;
    padding: 7px 0;
}

.containerFooter .contatti form img {
    width: 20px;
    vertical-align: middle;
}

footer select {
    vertical-align: middle;
    background: none;
    color: white;
    border: none;
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
}

footer .contatti form {
    padding: 29px 0;
    padding-bottom: 3px;
}

footer .contatti i {
    padding-right: 15px;
}

footer .contatti h2 {
    font-family: 'Changa One', cursive;
    font-size: 26px;
    font-weight: 700;
    color: #7289DA;
}

.containerFooterLogo {
    width: 70%;
    margin:auto;
    padding-top: 40px;
}

.containerFooterLogo .logo {
    float: left;
    vertical-align: middle;
}

.containerFooterLogo button {
    float: right;
    vertical-align: middle;
    border: none;
    background-color: #8EA1E1;
    padding: 9px 21px;
    border-radius: 20px;
    font-size: 16px;
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
}
/* / SEZIONE FOOTER */